<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XRayBuilderGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XRayBuilderGUI.Properties.Settings>
            <setting name="outDir" serializeAs="String">
                <value />
            </setting>
            <setting name="mobi_unpack" serializeAs="String">
                <value />
            </setting>
            <setting name="Goodreads" serializeAs="String">
                <value />
            </setting>
            <setting name="mobiFile" serializeAs="String">
                <value />
            </setting>
            <setting name="saverawml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spoilers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ignoresofthyphen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildSource" serializeAs="String">
                <value>Goodreads</value>
            </setting>
            <setting name="android" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="penName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="realName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="amazonUk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSubDirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="utf8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="docDir" serializeAs="String">
                <value />
            </setting>
            <setting name="saveHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitAliases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overwriteAliases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useKindleUnpack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="newMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadAliases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overwriteChapters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overrideOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="offsetAZW3" serializeAs="String">
                <value>-16</value>
            </setting>
            <setting name="pageCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchGoodreads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dataSource" serializeAs="String">
                <value>Goodreads</value>
            </setting>
        </XRayBuilderGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
