<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XRayBuilderGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XRayBuilderGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <XRayBuilderGUI.Properties.Settings>
      <setting name="outDir" serializeAs="String">
        <value />
      </setting>
      <setting name="Goodreads" serializeAs="String">
        <value />
      </setting>
      <setting name="mobiFile" serializeAs="String">
        <value />
      </setting>
      <setting name="saverawml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="xmlFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ignoresofthyphen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useNewVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="buildSource" serializeAs="String">
        <value>Goodreads</value>
      </setting>
      <setting name="android" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="penName" serializeAs="String">
        <value>Anonymous</value>
      </setting>
      <setting name="realName" serializeAs="String">
        <value>Anonymous</value>
      </setting>
      <setting name="enableEdit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useSubDirectories" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="overwrite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="docDir" serializeAs="String">
        <value />
      </setting>
      <setting name="saveHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="splitAliases" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="playSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overwriteAliases" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="downloadAliases" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overwriteChapters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overrideOffset" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pageCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dataSource" serializeAs="String">
        <value>Goodreads</value>
      </setting>
      <setting name="saveBio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="amazonTLD" serializeAs="String">
        <value>com</value>
      </setting>
      <setting name="promptASIN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="minClipLen" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="skipNoLikes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="downloadSA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="searchByAsin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="editBiography" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="outputToSidecar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="downloadEA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="downloadAP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="roentgenRegion" serializeAs="String">
        <value>com</value>
      </setting>
    </XRayBuilderGUI.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <applicationSettings>
    <XRayBuilderGUI.Properties.Settings>
      <setting name="sentryDest" serializeAs="String">
        <value />
      </setting>
    </XRayBuilderGUI.Properties.Settings>
  </applicationSettings>
</configuration>
